@keyframes fadeIn {
  from { opacity: 0;transform: translateY(-20px) }
  to { opacity: 1;transform: translateY(0) }
}

html, body {
  min-height: 100%;
}

::selection {
  color: white;
  background: #656eb3;
}

html {
  animation: fadeIn 0.4s ease-out;
  font-family: "IBM Plex Sans";
  font-weight: 300;
  text-align: justify;
}

body {
  box-sizing: border-box;
  border-left: 7vw solid #656eb3;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-container {
margin: 3vw;
}

.page-header {
  padding-left: 175px;
  display: flex;
}

.page-title {
  font: 100px "IBM Plex Sans";
  text-align: left;
  font-weight: 500;
  margin: 0;
  line-height: 1;
  align-self: center;
}

.me-photo {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-right: 25px;
}

.about-me, .profiles {
  font: 30px "IBM Plex Sans";
  font-weight: 300;
  padding-left:175px;
  padding-right: 20px;
  text-align: justify;
}


.profiles ul {
  padding: 0;
  list-style: none;
  display: block;
  flex-direction: row;
  line-height: 50px;
}

.profiles ul li {
  display: flex;
  width: 100%;
}

.profiles ul li a {
  font-weight: 500;
}

.profiles ul li:not(:last-child)::after {
  content: " + "
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  -webkit-tap-highlight-color: transparent;
}

a:hover, a:focus {
  color: #656eb3;
  border-bottom-color: #656eb3;
}

a:active {
  color: #8D92B9;
  border-bottom-color: #8D92B9;
}

.hero {
  color: #656eb3;
  /* width: 100%; */
  border: 2px solid #656eb3;
  text-align: center;
  font-size: 48px;
  padding: 25px 200px;
  line-height: 48px;
}

.hero:hover {
  color: white;
  background-color: #656eb3;
}

.hero:active {
  background-color: #8D92B9;
  border-color: #8D92B9;
}

@media (max-width: 850px) {
  body {
    justify-content: start;
    /* border-left: 7vh solid #656eb3; */
  }
  .about-me, .love-typer, .profiles {
    font-size: 18px;
    padding: 0;
  }
  .page-header {
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }
  .me-photo {
    width: 85px;
    height: 85px;
    margin-right: 5px;
  }
  .page-title {
    font-size: 45px;
    text-align: center;
  }
  .page-title::after {
    top: -5px;
  }
  .body-container {
    margin: 2vh 1vw;
    padding: 10px;
  }
  .nav-list {
    margin: 5px 0 25px;
  }
  .nav-list li {
    border-bottom: 1px solid black;
  }
  .profiles ul li {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .profiles ul li a {
    width: 100%;
    text-align: center;
  }
  .profiles ul li:not(:last-child)::after {
    content: none;
  }
  .hero {
    padding: 15px;
  }
}
